@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {

  --animate-notificacionEntrada: notificacionEntrada 1s ease;
  --animate-notificacionSalida: notificacionSalida 1s ease forwards;

  --animate-modalEntrada: modalEntrada 0.6s ease;
  --animate-modalSalida: modalSalida 0.5s ease forwards;

  @keyframes notificacionEntrada {
    from {
      transform: translateX(100vw);
      scale: 0%;
    }

    to {
      transform: translateX(0vw);
      scale: 100%;
    }
  }

  @keyframes notificacionSalida {
    from {
      transform: translateX(0vw);
      scale: 100%;
    }

    to {
      transform: translateX(100vw);
      scale: 0%;
    }
  }

  @keyframes modalEntrada {
    from {
      transform: translateY(100vh);
      scale: 0%;
    }

    to {
      transform: translateY(0vh);
      scale: 100%;
    }
  }

  @keyframes modalSalida {
    from {
      transform: translateY(0vh)
    }

    to {
      transform: translateY(120vh);
      scale: 0;
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}